<a href="https://colab.research.google.com/github/Amanpandey1998/AIrepofile/blob/master/linearregr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
import matplotlib.pyplot as plt

In [0]:
#loading data
df=pd.read_csv('http://13.234.66.67/summer19/datasets/salary.csv')

In [0]:
#schema
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
YearsExperience    30 non-null float64
Salary             30 non-null float64
dtypes: float64(2)
memory usage: 560.0 bytes

In [0]:
#top 5 columns
df.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [0]:
#experience that we are going to use as input of training data
exp=df.iloc[:,0:1].values

In [0]:
exp

array([[ 1.1],
       [ 1.3],
       [ 1.5],
       [ 2. ],
       [ 2.2],
       [ 2.9],
       [ 3. ],
       [ 3.2],
       [ 3.2],
       [ 3.7],
       [ 3.9],
       [ 4. ],
       [ 4. ],
       [ 4.1],
       [ 4.5],
       [ 4.9],
       [ 5.1],
       [ 5.3],
       [ 5.9],
       [ 6. ],
       [ 6.8],
       [ 7.1],
       [ 7.9],
       [ 8.2],
       [ 8.7],
       [ 9. ],
       [ 9.5],
       [ 9.6],
       [10.3],
       [10.5]])

In [0]:
#actual salary
sal=df.iloc[:,1:].values
sal
#now we can visualise the experience and sal data

array([[ 39343.],
       [ 46205.],
       [ 37731.],
       [ 43525.],
       [ 39891.],
       [ 56642.],
       [ 60150.],
       [ 54445.],
       [ 64445.],
       [ 57189.],
       [ 63218.],
       [ 55794.],
       [ 56957.],
       [ 57081.],
       [ 61111.],
       [ 67938.],
       [ 66029.],
       [ 83088.],
       [ 81363.],
       [ 93940.],
       [ 91738.],
       [ 98273.],
       [101302.],
       [113812.],
       [109431.],
       [105582.],
       [116969.],
       [112635.],
       [122391.],
       [121872.]])

In [0]:
#calling linear regression model
from sklearn.linear_model import LinearRegression

In [0]:
#model creation
regr=LinearRegression()

In [0]:
#fitting exp and salary 
trained=regr.fit(exp,sal)

In [0]:
#actual salary
sal

In [0]:
#now we can visualise this experience and sal data
plt.xlabel("experience")
plt.ylabel("salary")
plt.scatter(exp,sal,label="actual data as per exp")
plt.plot(exp,trained.predict(exp),label="predicted salary")
plt.legend()
plt.show()